@use "../../foundation/mixin";

/**
 * 上下マージン
 * - 4px
 * - 8px
 * - 16px
 * - 24px
 * - 32px
 * - 40px
 * - 48px
 * - 56px
 * - 64px
 * - 72px
 * - 80px
 */
$marginLists: 4, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80;

@each $marginList in $marginLists {
  .u-mb-sp-#{$marginList} {
    margin-bottom: #{$marginList}px;
  }

  .u-mt-sp-#{$marginList} {
    margin-top: #{$marginList}px;
  }

  .u-mb-tab-#{$marginList} {
    @include mixin.mq(tab) {
      margin-bottom: #{$marginList}px;
    }
  }

  .u-mt-tab-#{$marginList} {
    @include mixin.mq(tab) {
      margin-top: #{$marginList}px;
    }
  }

  .u-mb-lap-#{$marginList} {
    @include mixin.mq(lap) {
      margin-bottom: #{$marginList}px;
    }
  }

  .u-mt-lap-#{$marginList} {
    @include mixin.mq(lap) {
      margin-top: #{$marginList}px;
    }
  }

  .u-mb-desk-#{$marginList} {
    @include mixin.mq(desk) {
      margin-bottom: #{$marginList}px;
    }
  }

  .u-mt-desk-#{$marginList} {
    @include mixin.mq(desk) {
      margin-top: #{$marginList}px;
    }
  }
}
